
body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header-left {
  float: left;
  padding: 33px 20px;
}
.header-right li {
  float: right;
  padding: 33px 20px;
  
}
ul {
  list-style-type: none;
  
}
.logo {
  height: 22px;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 55px;
  
  margin-bottom: 10px;
}
span {
  color:rgb(255, 195, 0);
}

.top-wrapper h2 {
  font-size:35px;
  margin-bottom: 3px;
}
.left-logo {
  height: 170px;
  position: absolute;
  top: 200px;
  left:10px;
  padding: 10px;
}
.right-logo {
  height: 140px;
  position:absolute;
  top:250px;
  right:10px;
  padding: 10px;
}